# Default ignored files
/.idea
/.idea/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

config/local.json

node_modules/

.env
server.env

do_it_nodejs/myContacts/results
do_it_nodejs/myContacts/quiz
do_it_nodejs/myContacts/assets
do_it_nodejs/myBlog/results
do_it_nodejs/myBlog/assets

